.view-container {
    display: inline-block;
}
.view-container div {
    margin: 0 10px;
    text-align: center;
}
video {
    width: 360px;
    height: 203px;
    background: #ccc;
}
.log-title {
    text-align: center;
    margin-top: 10px;
}
.log-time {
    color: #888;
}
.log-msg{
    margin-left: 5px;
}
#msgContainer {
    position: relative;
    margin:0 auto;
    width: 600px;
    height: 240px;
    border: 1px solid;
    padding: 5px;
}